@use '../utils/' as *;

.montessori {
	font-size: 1rem;
	padding: 10rem 0;

	h1 {
		color: $primary-titles-aux-pages;
		padding-bottom: 2rem;
		font-size: 2.25em;
		@include breakpointMobile(991px) {
			font-size: 3.375em;
		}
	}

	h2 {
		color: $secondary-titles-aux-pages;
		font-size: 1.5em;
		@include breakpointMobile(991px) {
			font-size: 2.25em;
		}
	}

	h3 {
		color: $primary-titles-aux-pages;
		font-size: 1.25em;
		@include breakpointMobile(991px) {
			font-size: 1.75em;
		}
	}

	h4 {
		color: $secondary-titles-aux-pages;
		font-size: 1em;
		@include breakpointMobile(991px) {
			font-size: 1.25em;
		}
	}

	&__method {
		padding-bottom: 5rem;
		display: block;

		@include breakpointMobile(769px) {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 2rem;

			/* first line */
			div:nth-of-type(1) {
				grid-column: 5/7;
				grid-row: 1/2;
			}
			div:nth-of-type(2) {
				grid-column: 1/5;
				grid-row: 1/2;
			}

			/* second line */
			div:nth-of-type(3) {
				grid-column: 1/7;
				grid-row: 2/3;
			}

			/* third line */
			div:nth-of-type(4) {
				grid-column: 1/3;
				grid-row: 3/4;
			}
			div:nth-of-type(5) {
				grid-column: 3/7;
				grid-row: 3/4;
			}

			/* fourth line */
			div:nth-of-type(6) {
				grid-column: 1/7;
				grid-row: 4/5;
			}

			div:nth-of-type(7) {
				grid-column: 4/7;
				grid-row: 5/6;
			}

			div:nth-of-type(8) {
				grid-column: 1/4;
				grid-row: 5/6;
			}
		}

		&__content {
			padding-top: 1rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			gap: 1rem;
		}

		&__image {
			@include breakpointDesktop(768px) {
				padding: 2.5rem 7.5rem 2.5rem 7.5rem;
			}

			@include breakpointDesktop(480px) {
				padding: 2.5rem 2.5rem 2.5rem 2.5rem;
			}
		}

		li {
			display: flex;
			align-items: center;
			gap: 0.75rem;
			margin-bottom: 1rem;

			.bullet {
				width: 0.5rem;
				height: 0.5rem;
				background-image: url('../imgs/icons/dot-cream.webp');
				background-size: cover;
				background-position: center;
				flex-shrink: 0;
			}
		}
	}

	&__principles {
		h2 {
			color: $primary-titles-aux-pages;
			padding-bottom: 2rem;
			font-size: 2.25em;
			@include breakpointMobile(991px) {
				font-size: 3.375em;
			}
		}

		h3 {
			color: $secondary-titles-aux-pages;
		}

		h4 {
			color: $primary-titles-aux-pages;
		}

		&__wrapper {
			display: block;
			padding-bottom: 5rem;

			@include breakpointMobile(768px) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 2rem;
				padding: 5rem 0;
			}

			@include breakpointMobile(991px) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 2rem;
			}
		}
		&__card {
			&__image {
				padding: 2.5rem;

				@include breakpointDesktop(768px) {
					padding: 7.5rem 7.5rem 0 7.5rem;
				}

				@include breakpointDesktop(480px) {
					padding: 5.5rem 2.5rem 0 2.5rem;
				}
			}

			&__content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 1rem;
				padding: 1rem 0;
			}
		}
	}

	&__learning {
		h2 {
			color: $primary-titles-aux-pages;
			padding-bottom: 2rem;
			font-size: 2.25em;
			@include breakpointMobile(991px) {
				font-size: 3.375em;
			}
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			padding-bottom: 5rem;
		}

		&__card {
			display: block;

			&__image {
				flex: 0 0 35%;
				padding: 2.5rem 5rem 0 5rem;
			}

			&__content {
				h3 {
					color: $secondary-titles-aux-pages;
					font-size: 1.5em;
					margin-bottom: 1rem;
					@include breakpointMobile(991px) {
						font-size: 2.25em;
					}
				}

				ul {
					margin: 1rem 0;
				}

				li {
					display: flex;
					align-items: center;
					gap: 0.75rem;

					.bullet {
						width: 0.5rem;
						height: 0.5rem;
						background-image: url('../imgs/icons/dot-cream.webp');
						background-size: cover;
						background-position: center;
						flex-shrink: 0;
					}
				}
			}

			@include breakpointMobile(768px) {
				display: flex;
				align-items: center;

				&:nth-child(even) {
					flex-direction: row-reverse;
				}

				&__image {
					padding: 2rem;
					flex: 0 0 35%;
				}

				&__content {
					flex: 0 0 65%;
				}
			}
		}
	}

	&__development {
		h2 {
			color: $primary-titles-aux-pages;
			padding-bottom: 2rem;
			font-size: 2.25em;
			@include breakpointMobile(991px) {
				font-size: 3.375em;
			}
		}

		&__wrapper {
			display: block;
			padding-bottom: 5rem;

			@include breakpointMobile(480px) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 2rem;
			}

			@include breakpointMobile(768px) {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 2rem;
			}
		}

		&__card {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			align-items: center;

			&__image {
				padding: 4rem 4rem 0 4rem;

				@include breakpointMobile(480px) {
					padding: 2rem;
				}
			}

			&__content {
				ul {
					margin: 1rem 0;
				}

				li {
					display: flex;
					align-items: center;
					gap: 0.75rem;
					padding: 0.25rem 0;

					.bullet {
						width: 0.5rem;
						height: 0.5rem;
						background-image: url('../imgs/icons/dot-cream.webp');
						background-size: cover;
						background-position: center;
						flex-shrink: 0;
					}
				}
			}

			h3 {
				color: $secondary-titles-aux-pages;
				font-size: 1em;
				margin-bottom: 1rem;
				@include breakpointMobile(991px) {
					font-size: 1.5em;
				}
			}
		}
	}

	&__teacher {
		h2 {
			color: $primary-titles-aux-pages;
			padding-bottom: 2rem;
			font-size: 2.25em;
			@include breakpointMobile(991px) {
				font-size: 3.375em;
			}
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			padding-bottom: 5rem;
		}

		&__card {
			display: block;

			&__image {
				flex: 0 0 35%;
				padding: 2.5rem 5rem 0 5rem;
			}

			&__content {
				h3 {
					color: $secondary-titles-aux-pages;
					font-size: 1.5em;
					margin-bottom: 1rem;
					@include breakpointMobile(991px) {
						font-size: 2.25em;
					}
				}

				strong {
					margin-top: 1rem;
				}

				ul {
					margin: 1rem 0;
				}

				li {
					display: flex;
					align-items: center;
					gap: 0.75rem;

					.bullet {
						width: 0.5rem;
						height: 0.5rem;
						background-image: url('../imgs/icons/dot-cream.webp');
						background-size: cover;
						background-position: center;
						flex-shrink: 0;
					}
				}
			}

			@include breakpointMobile(768px) {
				display: flex;
				align-items: center;

				&:nth-child(even) {
					flex-direction: row-reverse;
				}

				&__image {
					padding-right: 2rem 4rem 2rem 4rem;
					flex: 0 0 50%;
				}

				&__content {
					flex: 0 0 50%;
				}
			}
		}
	}
}
