$text-primary: #ec7014;
$text-secondary: #77B04C;
$text-tertiary: #388e85;
$text-dark: #0b0118;
$text-light: #ffffff;
$text-gray: #999999;
$bg-dark: #fbf8ff;
$bg-recruit: rgba(236, 114, 20, 0.1);
$bg-white: #ffffff;
$bg-card-light: #ffffff;
$border-card: rgba(189, 185, 205, 0.2);

$card1-button-text: #ffffff;
$card1-button-bg: #63bab5;
$card1-button-border: #4db09f;
$card1-button-text-hover: #388e85;
$card1-button-bg-hover: #ffffff;
$card1-button-border-hover: #388e85;

$card2-button-text: #ffffff;
$card2-button-bg: #e47939; 
$card2-button-border: #ec7014;
$card2-button-text-hover: #ec7014;
$card2-button-bg-hover: #ffffff;
$card2-button-border-hover: #ec7014;

$card3-button-text: #ffffff;
$card3-button-bg: #86c456;
$card3-button-border: #8cce5a;
$card3-button-text-hover: #77B04C;
$card3-button-bg-hover: #ffffff;
$card3-button-border-hover: #77B04C;

$primary-titles-aux-pages: #388e85;
$secondary-titles-aux-pages: #ec7014;
$tertiary-titles-aux-pages: #77B04C;
/* 

#fecba7
#fbaa7d

#f5bf39
#ea8626
#E47939
#EC7014

#ea5c4d
#bd4c48

#7cd0c3
#63bab5
#57bfae
#388e85

#75b14b

#F7F1FF
#bdb9cd
*/
